body {
    background-image: url("./img/rps-background.jpg");
    display: flex;
    flex-direction: column;
}
h1 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 50px;
    font-family: Tahoma, sans-serif;
    color: rgb(170, 152, 127);
}
.choice-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    gap: 100px;
}
button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
}
button:hover {
    cursor: pointer;
}
.choice-image {
    height: 280px;
}
.scores {
    display: flex;
    justify-content: center;
    font-size: 70px;
    margin: 0 auto;
    margin-top: 30px;
    color: rgb(165, 153, 42);
    border-style: dashed;
    padding: 20px 30px;
    border-color: rgb(170, 152, 127);
    border-left-style: inset;
    border-left-width: 10px;
}

.win-lose{
    font-size: 80px;
    color: brown;
    margin: 0 auto;
    margin-top: 50px;
}
